<% require'date' %>
<div class="card-body col-sm-6 mx-auto">
  <div class="text-center mb-2 text-dark¥">新規登録</div>
  <hr class="my-2 w-25">

  <div class="card-body shadow-sm border">
    <%= form_with model: @user, url: user_registration_path , local: true do |f| %>

      <%= render '/shared/error_messages', model: f.object %>

      <div class="form-group">
        <%= f.label :name, "名前" %><br />
        <%= f.text_field :name, id:"user_name", autofocus: true, class: "col-sm-12 px-1" %>
        <p class="mt-1 p-1 table-secondary small">
          後から変更できません。<br>
          普段使用している名前を入力ください。
        </p>
      </div>
      <hr class="my-3">
      <div class="form-group">
        <%= f.label :oogiri_start, "大喜利を始めた年" %><br />
        <%= f.date_select :oogiri_start, use_month_numbers: true, discard_day: true, discard_month: true, start_year: 2000, end_year: Date.today.year, id:"user_start_year" %>
        <p class="mt-1 p-1 table-secondary small">
          後から変更できません。
        </p>
      </div>
      <hr class="my-3">
      <div class="form-group">
        <%= f.label :twitter_url, "Twitter URL" %><br />
        <%= f.text_field :twitter_url, class: "col-sm-12 px-1" %>
        <p class="mt-1 p-1 table-secondary small">
          自身のTwitterプロフィールページのURLを入力してください。<br>
          覆面アカウント対策です。<br>
          例: https://twitter.com/oogiri_trm
        </p>
      </div>
      <hr class="my-3">
      <div class="form-group">
        <%= f.label :email, "メールアドレス" %><br />
        <%= f.email_field :email, id:"user_email", autocomplete: "email", class: "col-sm-12 px-1" %>
      </div>
      <hr class="my-3">
      <div class="form-group">
        <%= f.label :password, "パスワード" %><br />
        <%= f.password_field :password, id:"user_password", autocomplete: "new-password" , placeholder: "6文字以上", class: "col-sm-12 px-1" %>
        <p class="mt-1 p-1 table-secondary small">
          半角英数字のみ使用可能です。
        </p>
      </div>
      <hr class="my-3">
      <div class="form-group">
        <%= f.label :password_confirmation, "パスワード再入力" %><br />
        <%= f.password_field :password_confirmation, id:"user_password_confirmation", autocomplete: "new-password", placeholder: "6文字以上", class: "col-sm-12 px-1" %>
        <div class="table-danger p-2 mt-1 small">
          パスワードは再発行できないため、必ず忘れないように保管してください。
        </div>
      </div>

      <div class="actions text-center">
        <%= f.submit "新規登録", class: "btn bg-dark text-white"  %>
      </div>
    <% end %>
  </div>
</div>