<div class="mb-2 card col-sm-6 mx-auto">
  <div class="card-body small">
    <div class="text-center mb-2 text-dark"><%= "お題" %></div>
    <div class="text-dark text-center table-secondary p-2"><%= @field.text_theme %></div>
  </div>
</div>

<div class="col-sm-6 mx-auto small">
  <% @oogiris.each do |oogiri| %>
    <div class="d-flex align-items-center p-1 shadow-sm border my-2">
      <div class="d-flex text-nowrap align-items-center">
        <% if oogiri.get_rank <= 3 %>
          <i class="fa-solid fa-fire-flame-curved mr-2 text-danger"></i>
        <% elsif oogiri.get_rank > 3 && oogiri.point < 0 %>
          <i class="fa-solid fa-skull mr-2 text-dark small"></i>
        <% else %>
          <i class="fa-solid fa-circle-dot mr-2 text-success small"></i>
        <% end %>
        <div class="mr-2"><%= "#{oogiri.get_rank}位" %></div>
        <div><%= "#{oogiri.point}点" %></div>
      </div>
      <div class="ml-3 container-fluid">
        <div class="d-flex small row align-items-center">
          <% if oogiri.comments.present? %>
            <i class="fa-regular fa-comment text-primary mr-1"></i>
          <% else %>
            <i class="fa-regular fa-comment text-muted mr-1"></i>
          <% end %>
          <%= link_to("/fields/#{oogiri.field.id}/oogiri/#{oogiri.id}/votes", target: :_blank, rel: "noopener noreferrer") do %>
            <div class="d-flex small mr-1">
              <% [3, 2, 1, 0, -2].each do |v| %>
                <div class="bg-white border mr-1 text-dark px-1"><%= "#{oogiri.votes.where(vote_point: v).length}" %></div>
              <% end %>
            </div>
          <% end %>
          <%= link_to oogiri.user.name, "#", class: "text-left small text-secondary" %>
        </div>
        <hr class="my-1 row">
        <%= link_to(field_oogiri_path(oogiri.field, oogiri), target: :_blank, rel: "noopener noreferrer") do %>
          <div class="p-1 my-0 row text-dark"><%= oogiri.content %></div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<div class="col-sm-6 mx-auto">
  <div class="card-body p-2 shadow-sm border my-2 small text-muted">
    <div class="text-center mb-2 text-dark"><%= "投票者" %></div>
    <div class="table-secondary p-2">
      <% @votes.each do |vote| %>
        <%= link_to "#{vote.user.name}", "#", class: "text-muted" %><%= " ," %>
      <% end %>
      <hr class="my-1">
      <div class="text-center"><%= "#{@votes.length}人" %></div>
    </div>
  </div>
</div>
