<div class="mt-2 card col-sm-6 mx-auto">
  <div class="card-body">
    <h3 class="text-center mt-1 mb-4 text-dark">現在のお題</h3>
    <div class="text-dark"><%= @field.text_theme %></div>
  </div>
  <div class="card-body">
    <h3 class="text-center mt-1 mb-4 text-dark">現在の回答</h3>
    <div class="p-2 table-secondary text-muted">投稿がありまへん</div>
  </div>
  <div class="card-body">
    <%= form_with(model: [@field, @oogiri], local: true) do |f| %>

      <div class="form-group">
        <%= f.label :content, "回答フォーム" %><br />
        <%= f.text_field :content, autofocus: true %>
      </div>

      <div class="actions">
        <%= f.submit "投稿", class: "btn btn-sm bg-dark text-white"  %>
      </div>
    <% end %>
  </div>
</div>