<div class="mb-2 card col-sm-6 mx-auto">
  <div class="card-body small">
    <div class="text-center mb-2 text-dark"><%= "お題" %></div>
    <div class="text-dark text-center table-secondary p-2"><%= @field.text_theme %></div>
  </div>
</div>

<div class="col-sm-6 mx-auto small">
  <div><%= "回答" %></div>
  <div class="d-flex align-items-center p-1 shadow-sm border mb-2">
    <% if @field.status_finished? %>
      <div class="d-flex text-nowrap ml-2 mr-3 align-items-center">
        <% if @oogiri.get_rank <= 3 %>
          <i class="fa-solid fa-fire-flame-curved mr-1 text-danger"></i>
        <% elsif @oogiri.get_rank > 3 && @oogiri.point < 0 %>
          <i class="fa-solid fa-skull mr-1 text-dark small"></i>
        <% else %>
          <i class="fa-solid fa-circle-dot mr-1 text-success small"></i>
        <% end %>
        <div class="mr-1"><%= "#{@oogiri.get_rank}位" %></div>
        <div><%= "#{@oogiri.point}点" %></div>
      </div>
    <% end %>
    <div class="container-fluid">
      <% if @field.status_finished? %>
        <div class="d-flex small align-top row">
          <div class="d-flex small mr-1">
            <% [3, 2, 1, 0, -2].each do |v| %>
              <div class="bg-white border mr-1 text-dark px-1"><%= @oogiri.votes.where(vote_point: v).length  %></div>
            <% end %>
          </div>
          <%= link_to @oogiri.user.name, "#", class: "text-left small text-secondary" %>
        </div>
      <% end %>
      <div class="p-1 table-secondary my-2 row"><%= @oogiri.content %></div>
    </div>
  </div>
</div>
<hr class="mb-0">
<div class="card-body py-2 small">
  <div class="mb-2"><%= "投票一覧" %></div>
  <% [3, 2, 1, 0, -2].each do |point| %>
    <div class="text-center table-dark"><%= "#{point}点" %></div>
    <% if @oogiri.votes.where(vote_point: point).present? %>
      <div class="ml-2 align-items-center my-1">
      <% @oogiri.votes.where(vote_point: point).each_with_index do |vote, i| %>
        <% if i == 0 %>
          <%= link_to "#{vote.user.name}", "#", class: "text-muted" %>
        <% else %>
          <%= " / " %><%= link_to "#{vote.user.name}", "#", class: "text-muted" %>
        <% end %>
      <% end %>
      </div>
    <% else %>
      <p class="text-center text-muted mb-4"></p>
    <% end %>
  <% end %>
</div>
<hr class="mb-0">