<div class="card-body text-center mt-1">
  <div class="text-center mb-2 text-dark small">ランキング</div>
  <hr class="mt-2 mb-0 w-25">
</div>
<div class="col-sm-6 mx-auto small table-responsive">
  <table class="table table-bordered table-striped">
    <thead>
    <tr>
      <th nowrap class="text-center">ランク</th>
      <th nowrap class="text-center">クラス</th>
      <th nowrap class="text-center">レート</th>
      <th nowrap class="text-center">名前</th>
      <th nowrap class="text-center">最高レート</th>
    </tr>
    </thead>
  <tbody>
  <% @users.each_with_index do |user, i| %>
    <tr>
      <td nowrap class="text-center"><%= i + 1 %></td>
      <td class="text-center"><%= user.rate_class.html_safe %></td>
      <td nowrap class="text-center"><%= user.rate %></td>
      <td nowrap class="text-center"><%= user.name %></td>
      <td nowrap class="text-center"><%= user.max_rate %></td>
    </tr>
  <% end %>
  </tbody>
  </table>
</div>