<%= image_tag "dark_main_img.jpg", class: "w-100 shadow-sm" %>
<div class="my-3 col-sm-6 mx-auto">
  <div class="card-body shadow bg-white mb-4">
    <div class="text-center mb-2 text-dark small">アンケート</div>
    <hr class="mt-2 mb-4 w-25">
    <div class="text-dark table-secondary p-2 small">
      大喜利登竜門のサイト品質向上のためのアンケートです。<br>
      完全匿名ですので、ご気軽に回答してくださるとありがたいです。<br>
    </div>
    <div class="text-center mt-3">
      <%= link_to "大喜利登竜門ユーザーアンケート", "https://forms.gle/K37P89gef6RuY8Am7", class: "px-4 btn btn-outline-primary rounded-pill shadow-sm", target: "_blank", rel: "noopener noreferrer" %>
    </div>
  </div>
  <div class="card-body shadow bg-white mb-4">
    <div class="text-center mb-2 text-dark small">最新の結果</div>
    <hr class="mt-2 mb-4 w-25">
    <% @finished_fields.each do |field| %>
      <div class="mb-3 card-body border">
        <div class="mt-2 text-dark text-center table-secondary p-2"><%= link_to field.text_theme, field_oogiris_path(field), class: "text-dark" %></div>
      </div>
    <% end %>
  </div>

  <div class="card-body shadow bg-white">
    <div class="text-center mb-2 text-dark small">ルール</div>
    <hr class="mt-2 mb-4 w-25">
    <div class="text-dark table-secondary p-2 small">
      <p>
        <i class="fa-solid fa-dragon mr-1" style="color: #000000;"></i><span style="color: #000000;">大喜利登竜門</span><br>
        大喜利登竜門とは、『マイナス点』 という新しい投票概念を導入することで、ネット大喜利の今までの評価基準を覆す大喜利投稿サイトです。
      </p>
      <p>
        <i class="fa-solid fa-user-plus mr-1" style="color: #000000;"></i><span style="color: #000000;">ユーザー登録</span><br>
        当サイトでは、『ランク』や『レート』などの様々な指標で大喜利力を数値化します。<br>
        個別の値を管理する必要があるため、ユーザー登録をお願いいたします。
      </p>
      <p>
        <i class="fa-solid fa-lightbulb mr-1" style="color: #000000;"></i><span style="color: #000000;">投稿</span><br>
        投稿期間中のお題では、回答を投稿することができます。<br>
        回答を変更したい場合は『変更』をすることができ、取り消したい場合は『リセット』が可能です。
      </p>
      <p>
        <i class="fa-solid fa-check-to-slot mr-1" style="color: #000000;"></i><span style="color: #000000;">投票</span><br>
        投票期間中のお題では、そのお題の投稿期間中に投稿された回答に投票することができます。<br>
        投票できる点数は <b>3, 2, 1, 0, -2</b> のいずれかです。<br>
        全ての回答に投票する必要があります。<br>
        自分の回答がある場合、自動的に2点が選択されるため、それが投票ボーナス点となります。
      </p>
      <p>
        <i class="fa-solid fa-flag mr-1" style="color: #000000;"></i><span style="color: #000000;">結果</span><br>
        投票期間が終了したお題の結果をご覧いただけます。<br>
        結果に応じてレートが変動します。<br>
      </p>
      <p>
        <i class="fa-solid fa-comments mr-1" style="color: #000000;"></i><span style="color: #000000;">コメント</span><br>
        投票期間中および結果発表後は各回答にコメントすることができます。<br>
        コメント内容は自由ですが、個人を攻撃する内容はお控えください。<br>
        特に、『マイナス点』をつける場合はコメントすることを推奨します。
      </p>
      <p>
        <i class="fa-solid fa-chart-line mr-1" style="color: #000000;"></i><span style="color: #000000;">レート</span><br>
        レートは、大喜利の結果に応じて変動する成績を示す数値です。<br>
        結果確定時にレートが増減します。<br>
        ランキングページやユーザーページから確認が可能です。<br>
        計算式の考え方はシンプルで、レートの高い人はレートが上がりづらく下がりやすい。低い人は、上がりやすく下がりづらいようになっています。<br>
      </p>
      <p>
        <i class="fa-solid fa-ranking-star mr-1" style="color: #000000;"></i><span style="color: #000000;">ランキング</span><br>
        ランキングページでは、レートが高い順にユーザーが表示されます。<br>
        クラスや最高レートなども一覧することができます。<br>
        投稿を行ったことのあるユーザーのみが、ランキングページに表示されます。
      </p>
      <i class="fa-solid fa-seedling mr-1" style="color: #000000;"></i><span style="color: #000000;">クラス</span><br>
      クラスは、レートに応じて変わる大まかな階級です。<br>
      レートの閾値を超えることでクラスが変動します。<br>
    </div>
    <div class="bg-white">
      <div class="bg-white text-nowrap" style="height: 1px; width: 1px"><%= link_to ".", minus_oogiris_path, class: "text-white text-nowrap", style: "font-size: 1px; height: 1px;" %></div>
    </div>
  </div>
</div>
<footer style="background-color:#000000;">
  <div class="container-fluid">
    <div class="row px-md-3">
      <div class="col-md-6 align-self-center">
        <ul class="list-inline text-center text-md-right mb-0">
          <li class="list-inline-item mx-2">
            <small>
              <%= link_to "お問い合わせ", "https://twitter.com/tokedai_sub", class: "text-white text-nowrap", target: :_blank, rel: "noopener noreferrer" %>
            </small>
          </li>
          <li class="list-inline-item mx-2">
            <small>
              <%= link_to "プライバシーポリシー", privacy_policy_path, class: "text-white text-nowrap" %>
            </small>
          </li>
        </ul>
      </div>
      <div class="col-md-6 text-center text-md-left align-items-center">
        <small class="text-white">
          ©Oogiri Toryumon All Rights Reserved
        </small>
      </div>
    </div>
  </div>
</footer>