<% if comment.user == current_user %>
  <i class="fa-regular fa-thumbs-up text-muted mr-1" aria-hidden="true"></i><span class="text-muted"><%= comment.comment_likes.length %></span>
<% else %>
  <% if current_user.already_liked?(comment) %>
    <%= link_to field_oogiri_comment_comment_like_path(comment.oogiri.field, comment.oogiri, comment, comment.comment_likes.find_by(comment_id: comment.id, user_id: current_user.id)), method: :delete, remote: true do %>
      <i class="fa-solid fa-thumbs-up text-dark mr-1" aria-hidden="true"></i><span class="text-dark"><%= comment.comment_likes.length %></span>
    <% end %>
  <% else %>
    <%= link_to field_oogiri_comment_comment_likes_path(comment.oogiri.field, comment.oogiri, comment), method: :post, remote: true do %>
      <i class="fa-regular fa-thumbs-up text-muted mr-1" aria-hidden="true"></i><span class="text-muted"><%= comment.comment_likes.length %></span>
    <% end %>
  <% end %>
<% end %>