<div>
  <h3 class="text-center py-2 mb-4 bg-warning">管理者ページ</h3>
  <ul class="nav nav-tabs justify-content-around" role="tablist">
    <li class="nav-item" role="presentation">
      <a href="#create_field" class="nav-link active" data-toggle="tab" aria-selected="true">お題作成</a>
    </li>
    <li class="nav-item" role="presentation">
      <a href="#current_field" class="nav-link" data-toggle="tab" aria-selected="false">現在のお題</a>
    </li>
    <li class="nav-item" role="presentation">
      <a href="#first_oogiris" class="nav-link" data-toggle="tab" aria-selected="false">いい回答</a>
    </li>
    <li class="nav-item" role="presentation">
      <a href="#minus_oogiris" class="nav-link" data-toggle="tab" aria-selected="false">わるい回答</a>
    </li>
    <li class="nav-item" role="presentation">
      <a href="#user_list" class="nav-link" data-toggle="tab" aria-selected="false">登録者</a>
    </li>
    <li class="nav-item" role="presentation">
      <a href="#toryu_setting" class="nav-link" data-toggle="tab" aria-selected="false">とうりゅう君</a>
    </li>
  </ul>

  <div class="tab-content">
    <div id="create_field" class="tab-pane active">
      <div class="col-sm-6 my-3 mx-auto">
        <hr class="my-2">
        <% @permitted_fields.each_with_index do |field, i| %>
          <%= link_to(field_oogiris_path(field), class: "") do %>
            <div class="card-body shadow-sm border mb-3">
              <div class="text-dark text-center table-secondary p-2"><%= field.text_theme %></div>
              <div class="text-center my-2">
                <%= link_to "出題", field_path(id: field.id), class: "w-25 mb-2 btn btn-sm bg-success text-white", method: :patch %>
              </div>
              <div class="text-center my-2">
                <%= link_to "削除", field_path(id: field.id), class: "w-25 btn btn-sm btn-danger text-nowrap", method: :delete %>
              </div>
            </div>
          <% end %>
        <% end %>
        <hr class="mt-2 mb-4">
        <% @waiting_fields.each_with_index do |field, i| %>
          <%= link_to(field_oogiris_path(field), class: "") do %>
            <div class="card-body shadow-sm border mb-3">
              <div class="text-dark text-center table-secondary p-2"><%= field.text_theme %></div>
              <div class="text-center my-2">
                <%= link_to "候補にする", field_path(id: field.id), class: "mb-2 btn btn-sm bg-secondary text-white text-nowrap", method: :patch %>
              </div>
              <div class="text-center my-2">
                <%= link_to "削除", field_path(id: field.id), class: "w-25 btn btn-sm btn-danger text-nowrap", method: :delete %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <div id="current_field" class="tab-pane">
      <div class="my-3 col-sm-6 mx-auto">
        <div class="table-danger card-body mb-3">
          <div class="text-center mb-2">切替順序</div>
          1. 投票中を切替(投票->結果)<br>
          2. 投稿中を切替(投稿->投票)<br>
          3. お題を生成
        </div>
        <div class="mb-5 card-body shadow-lg">
          <div class="mb-2 text-center">投票</div>
          <% @voting_fields.each do |field| %>
            <div class="mb-3 card-body border">
              <div class="mt-2 text-dark text-center p-2"><%= field.text_theme %></div>
              <div class="text-center my-2">
                <%= link_to "切替", field_path(id: field.id), class: "w-25 mb-2 btn btn-sm bg-danger text-white", method: :patch %>
              </div>
            </div>
          <% end %>
        </div>
        <div class="mb-5 card-body shadow-lg">
          <div class="mb-2 text-center">投稿</div>
          <% @posting_fields.each do |field| %>
            <div class="mb-3 card-body border">
              <div class="mt-2 text-dark text-center p-2"><%= field.text_theme %></div>
              <div class="small mt-2 table-secondary">
                <div class="text-center text-dark"><%= "投稿者" %></div>
                <div class="table-secondary p-2">
                  <% field.oogiris.each do |oogiri| %>
                    <%= oogiri.user.name %><%= " ," %>
                  <% end %>
                  <hr class="my-1">
                  <div class="text-center"><%= "#{field.oogiris.length}/#{@limit_num}" %></div>
                </div>
              </div>
              <div class="text-center my-2">
                <%= link_to "切替", field_path(id: field.id), class: "w-25 mb-2 btn btn-sm bg-danger text-white", method: :patch %>
              </div>
            </div>
          <% end %>
        </div>
        <div class="mb-5 card-body shadow-lg table-secondary">
          <div class="mb-2 text-center">結果</div>
          <% @finished_fields.each do |field| %>
            <div class="mb-3 card-body border">
              <div class="mt-2 text-dark text-center p-2"><%= field.text_theme %></div>
              <div class="text-center my-2">
                <%= link_to "切替", field_path(id: field.id), class: "w-25 mb-2 btn btn-sm bg-secondary text-white", method: :patch %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <div id="first_oogiris" class="tab-pane">
      <div class="col-sm-6 my-3 mx-auto">
        <div class="small table-responsive">
          <table class="table table-bordered table-striped">
            <% @first_oogiris.each do |oogiri| %>
              <table class="table table-bordered table-striped small shadow-sm">
                <tr>
                  <th nowrap class="text-center w-25">名前</th>
                  <th class="text-center"><%= link_to oogiri.user.name, user_path(oogiri.user) %></th>
                </tr>
                <tr>
                  <th nowrap class="text-center w-25">お題</th>
                  <th class="text-center"><%= oogiri.field.text_theme %></th>
                </tr>
                <tr>
                  <th nowrap class="text-center w-25">回答</th>
                  <th class="text-center"><%= oogiri.content %></th>
                </tr>
              </table>
            <% end %>
          </table>
        </div>
      </div>
    </div>

    <div id="minus_oogiris" class="tab-pane">
      <div class="col-sm-6 my-3 mx-auto">
        <div class="small table-responsive">
          <table class="table table-bordered table-striped">
            <table class="table table-bordered table-striped">
              <% @minus_oogiris.each do |oogiri| %>
                <table class="table table-bordered table-striped small shadow-sm">
                  <tr>
                    <th nowrap class="text-center w-25">名前</th>
                    <th class="text-center"><%= link_to oogiri.user.name, user_path(oogiri.user) %></th>
                  </tr>
                  <tr>
                    <th nowrap class="text-center w-25">お題</th>
                    <th class="text-center"><%= oogiri.field.text_theme %></th>
                  </tr>
                  <tr>
                    <th nowrap class="text-center w-25">回答</th>
                    <th class="text-center"><%= oogiri.content %></th>
                  </tr>
                </table>
              <% end %>
            </table>
          </table>
        </div>
      </div>
    </div>

    <div id="user_list" class="tab-pane">
      <div class="col-sm-6 my-3 mx-auto">
      </div>
      <div class="col-sm-6 mx-auto small table-responsive">
        <table class="table table-bordered table-striped">
          <thead>
          <tr>
            <th nowrap class="text-center">No.</th>
            <th nowrap class="text-center">名前</th>
            <th nowrap class="text-center">レート</th>
            <th nowrap class="text-center">最高レート</th>
          </tr>
          </thead>
          <tbody>
          <% @users.each_with_index do |user, i| %>
            <tr>
              <td nowrap class="text-center"><%= @users.length - i %></td>
              <td class="text-center"><%= user.name %></td>
              <td nowrap class="text-center"><%= user.rate %></td>
              <td nowrap class="text-center"><%= user.max_rate %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>

    <div id="toryu_setting" class="tab-pane">
      <div class="col-sm-6 my-3 mx-auto">
      </div>
      <div class="col-sm-6 mx-auto small table-responsive">
        <div class="text-center">
          <%= link_to "形容詞 upload", basin_theme_adjectives_upload_path, class: "btn btn-outline-secondary rounded-pill mr-2" %>
          <%= link_to "名詞 upload", basin_theme_nouns_upload_path, class: "btn btn-outline-secondary rounded-pill" %>
        </div>
        <div class="my-3 card-body">
          <div class="text-center mb-3">
            <%= "現在の最低得点: #{ToryuSetting.first.point}" %><br>
            <%= "現在の最低順位: #{ToryuSetting.first.rank}" %>
          </div>
          <%= form_with model: @setting, url: admin_update_toryu_setting_path, local: true do |f| %>
            <div class="form-group">
              最低得点(以上)
              <%= f.text_field :point, autofocus: true, required: true, class: "px-1 col-sm-12" %>
            </div>
            <div class="form-group">
              最低順位(以上)
              <%= f.text_field :rank, required: true, class: "px-1 col-sm-12" %>
            </div>
            <div class="actions text-center">
              <%= f.submit "設定", class: "w-25 btn btn-sm bg-dark text-white" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>