<div>
  <h3 class="text-center py-2 mb-4 bg-warning">管理者ページ</h3>
  <ul class="nav nav-tabs justify-content-around" role="tablist">
    <li class="nav-item" role="presentation">
      <a href="#create_field" class="nav-link active" data-toggle="tab" aria-selected="true">お題作成</a>
    </li>
    <li class="nav-item" role="presentation">
      <a href="#current_field" class="nav-link" data-toggle="tab" aria-selected="false">現在のお題</a>
    </li>
    <li class="nav-item" role="presentation">
      <a href="#first_oogiris" class="nav-link" data-toggle="tab" aria-selected="false">いい回答</a>
    </li>
    <li class="nav-item" role="presentation">
      <a href="#minus_oogiris" class="nav-link" data-toggle="tab" aria-selected="false">わるい回答</a>
    </li>
    <li class="nav-item" role="presentation">
      <a href="#user_list" class="nav-link" data-toggle="tab" aria-selected="false">登録者</a>
    </li>
  </ul>

  <div class="tab-content">
    <div id="create_field" class="tab-pane active">
      <div class="col-sm-6 my-3 mx-auto">
        <%= form_with model: @field, url: fields_path, local: true do |f| %>
          <%= render 'shared/error_messages', model: f.object %>
          <div class="form-group">
            <%= f.text_area :text_theme, autofocus: true, required: true, class: "px-1 col-sm-12", rows: 3 %>
          </div>
          <div class="actions text-center">
            <%= f.submit "生成", class: "btn btn-sm bg-dark text-white" %>
          </div>
        <% end %>
      </div>
    </div>
    <div id="current_field" class="tab-pane">
      <% @two_fields.each do |field| %>
        <div class="col-sm-6 my-3 mx-auto card-body border shadow-sm">
          <div class="text-dark text-center my-2"><%= "#{field.id}: " %><%= field.text_theme %></div>
          <div class="text-danger text-center small"><%= "ステータス: #{field.status}" %></div>
          <div class="text-center my-2">
            <%= link_to "切替", field_path(id: field.id), class: "w-25 mb-2 btn btn-sm bg-danger text-white", method: :patch %>
          </div>
        </div>
      <% end %>
    </div>
    <div id="first_oogiris" class="tab-pane">
      <div class="col-sm-6 my-3 mx-auto">
        <div class="small table-responsive">
          <table class="table table-bordered table-striped">
            <thead>
            <tr>
              <th nowrap class="text-center">名前</th>
              <th nowrap class="text-center">お題</th>
              <th nowrap class="text-center">回答</th>
              <th nowrap class="text-center">得点</th>
            </tr>
            </thead>
            <tbody>
            <% @first_oogiris.each do |oogiri| %>
              <tr>
                <td nowrap class="text-center"><%= oogiri.user.name %></td>
                <td nowrap class="text-center"><%= oogiri.field.text_theme %></td>
                <td nowrap class="text-center"><%= link_to oogiri.content, field_oogiri_path(oogiri.field, oogiri) %></td>
                <td nowrap class="text-center"><%= oogiri.point %></td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div id="minus_oogiris" class="tab-pane">
      <div class="col-sm-6 my-3 mx-auto">
        <div class="small table-responsive">
          <table class="table table-bordered table-striped">
            <thead>
            <tr>
              <th nowrap class="text-center">名前</th>
              <th nowrap class="text-center">お題</th>
              <th nowrap class="text-center">回答</th>
              <th nowrap class="text-center">得点</th>
            </tr>
            </thead>
            <tbody>
            <% @minus_oogiris.each do |oogiri| %>
              <tr>
                <td nowrap class="text-center"><%= oogiri.user.name %></td>
                <td nowrap class="text-center"><%= oogiri.field.text_theme %></td>
                <td nowrap class="text-center"><%= link_to oogiri.content, field_oogiri_path(oogiri.field, oogiri) %></td>
                <td nowrap class="text-center"><%= oogiri.point %></td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div id="user_list" class="tab-pane">
      <div class="col-sm-6 my-3 mx-auto">
      </div>
      <div class="col-sm-6 mx-auto small table-responsive">
        <table class="table table-bordered table-striped">
          <thead>
          <tr>
            <th nowrap class="text-center">名前</th>
            <th nowrap class="text-center">レート</th>
            <th nowrap class="text-center">最高レート</th>
          </tr>
          </thead>
          <tbody>
          <% @users.each do |user| %>
            <tr>
              <td nowrap class="text-center"><%= user.name %></td>
              <td nowrap class="text-center"><%= user.rate %></td>
              <td nowrap class="text-center"><%= user.max_rate %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>