<div class="position-sticky mb-2 card col-sm-6 mx-auto" style="position: sticky; top: 56px; z-index: 100;">
  <div class="card-body">
    <div class="text-center mb-2 text-dark"><%= "お題" %></div>
    <div class="text-dark text-center table-secondary p-2"><%= @now_field.text_theme %></div>
  </div>
</div>
<div class="col-sm-6 mx-auto px-4">
  <%= form_with model:@form, url: votes_path, method: :post, local: true do |form| %>
    <%= form.fields_for :votes do |f| %>
      <div class="card-body p-2 shadow-sm border my-3">
        <div class="form-group text-muted d-flex small">
          <div class="d-flex form-check pt-1 ml-3">
            <%= f.label :vote_point, "-2点", class: "form-check-label" %>
            <%= f.radio_button :vote_point, -2, class: "form-check-input" %>
          </div>
          <div class="d-flex form-check pt-1 ml-3">
            <%= f.label :vote_point, "-1点", class: "form-check-label" %>
            <%= f.radio_button :vote_point, -1, class: "form-check-input" %>
          </div>
          <div class="d-flex form-check pt-1 ml-3">
            <%= f.label :vote_point, "1点", class: "form-check-label" %>
            <%= f.radio_button :vote_point, 1, class: "form-check-input" %>
          </div>
          <div class="d-flex form-check pt-1 ml-3">
            <%= f.label :vote_point, "2点", class: "form-check-label" %>
            <%= f.radio_button :vote_point, 2, class: "form-check-input" %>
          </div>
          <div class="d-flex form-check pt-1 ml-3">
            <%= f.label :vote_point, "3点", class: "form-check-label" %>
            <%= f.radio_button :vote_point, 3, class: "form-check-input" %>
          </div>
        </div>
        <div class="p-2 table-secondary text-dark"><%= f.object.oogiri.content %></div>
      </div>
    <% end %>
    <div class="text-center">
      <%= form.submit "投票", class: "btn btn-cv bg-secondary text-white mb-2" %>
    </div>
  <% end %>
</div>
