<div class="my-2 card col-sm-6 mx-auto">
  <div class="card-body">
    <h3 class="text-center mt-1 mb-4 text-dark">現在のお題</h3>
    <div class="text-dark"><%= @now_field.text_theme %></div>
  </div>
</div>
<div class="mb-2 card col-sm-6 mx-auto">
  <%= form_with model:@form, url: votes_path, method: :post, local: true do |form| %>
    <%= form.fields_for :votes do |f| %>
      <div class="card-body p-2">
        <div class="form-group text-secondary d-flex">
          <div class="d-flex form-check pt-1 ml-3">
            <%= f.label :vote_point, "-2点", class: "form-check-label" %>
            <%= f.radio_button :vote_point, -2, class: "form-check-input" %>
          </div>
          <div class="d-flex form-check pt-1 ml-3">
            <%= f.label :vote_point, "-1点", class: "form-check-label" %>
            <%= f.radio_button :vote_point, -1, class: "form-check-input" %>
          </div>
          <div class="d-flex form-check pt-1 ml-3">
            <%= f.label :vote_point, "1点", class: "form-check-label" %>
            <%= f.radio_button :vote_point, 1, class: "form-check-input" %>
          </div>
          <div class="d-flex form-check pt-1 ml-3">
            <%= f.label :vote_point, "2点", class: "form-check-label" %>
            <%= f.radio_button :vote_point, 2, class: "form-check-input" %>
          </div>
          <div class="d-flex form-check pt-1 ml-3">
            <%= f.label :vote_point, "3点", class: "form-check-label" %>
            <%= f.radio_button :vote_point, 3, class: "form-check-input" %>
          </div>
        </div>
        <div class="p-2 table-secondary text-dark"><%= f.object.oogiri.content %></div>
      </div>
      <hr>
    <% end %>
    <div class="text-center">
      <%= form.submit "投票", class: "btn btn-cv bg-secondary text-white mb-2" %>
    </div>
  <% end %>
</div>
