<div class="position-sticky mb-2 card col-sm-6 mx-auto" style="top: 56px; z-index: 100;">
  <div class="card-body">
    <div class="text-center mb-2 text-dark"><%= "お題" %></div>
    <div class="text-dark text-center table-secondary p-2"><%= @field.text_theme %></div>
  </div>
</div>
<div class="col-sm-6 mx-auto px-4">
  <div class="text-center mb-2 text-dark"><%= "回答一覧" %></div>
  <%= form_with model:@form, url: field_votes_path(@field.id), method: :post, local: true do |form| %>
    <%= render 'shared/error_messages', model: form.object %>
    <%= form.fields_for :votes do |f| %>
      <div class="card-body p-2 shadow-sm border my-3">
        <div class="form-group text-muted d-flex small">
          <% if f.object.oogiri.user == current_user %>
            <div class="d-flex form-check pt-1 ml-3">
              <%= f.label :vote_point, "-2点", class: "form-check-label" %>
              <%= f.radio_button :vote_point, -2, class: "form-check-input", disabled: true %>
            </div>
            <div class="d-flex form-check pt-1 ml-3">
              <%= f.label :vote_point, "0点", class: "form-check-label" %>
              <%= f.radio_button :vote_point, 0, class: "form-check-input", disabled: true %>
            </div>
            <div class="d-flex form-check pt-1 ml-3">
              <%= f.label :vote_point, "1点", class: "form-check-label" %>
              <%= f.radio_button :vote_point, 1, class: "form-check-input", disabled: true %>
            </div>
            <div class="d-flex form-check pt-1 ml-3">
              <%= f.label :vote_point, "2点", class: "form-check-label" %>
              <%= f.radio_button :vote_point, 2, class: "form-check-input", checked: true %>
            </div>
            <div class="d-flex form-check pt-1 ml-3">
              <%= f.label :vote_point, "3点", class: "form-check-label" %>
              <%= f.radio_button :vote_point, 3, class: "form-check-input", disabled: true %>
            </div>
          <% else %>
            <div class="d-flex form-check pt-1 ml-3">
              <%= f.label :vote_point, "-2点", class: "form-check-label" %>
              <%= f.radio_button :vote_point, -2, class: "form-check-input" %>
            </div>
            <div class="d-flex form-check pt-1 ml-3">
              <%= f.label :vote_point, "0点", class: "form-check-label" %>
              <%= f.radio_button :vote_point, 0, class: "form-check-input", checked: true %>
            </div>
            <div class="d-flex form-check pt-1 ml-3">
              <%= f.label :vote_point, "1点", class: "form-check-label" %>
              <%= f.radio_button :vote_point, 1, class: "form-check-input" %>
            </div>
            <div class="d-flex form-check pt-1 ml-3">
              <%= f.label :vote_point, "2点", class: "form-check-label" %>
              <%= f.radio_button :vote_point, 2, class: "form-check-input" %>
            </div>
            <div class="d-flex form-check pt-1 ml-3">
              <%= f.label :vote_point, "3点", class: "form-check-label" %>
              <%= f.radio_button :vote_point, 3, class: "form-check-input" %>
            </div>
          <% end %>
        </div>
        <%= link_to(field_oogiri_path(f.object.oogiri.field, f.object.oogiri), target: :_blank, rel: "noopener noreferrer") do %>
          <div class="p-2 table-secondary text-dark"><%= f.object.oogiri.content %></div>
        <% end %>
      </div>
    <% end %>
    <% if @field.votes.pluck(:user_id).include?(current_user&.id) %>
      <div class="text-center">
        <%= link_to "投票確認", field_vote_thanks_path(@field.id), class: "btn btn-cv bg-primary text-white mb-2" %>
      </div>
    <% else %>
      <div class="text-center">
        <%= form.submit "投票", class: "btn btn-cv bg-primary text-white mb-2" %>
      </div>
    <% end %>
  <% end %>
</div>

<div class="col-sm-6 mx-auto px-4">
  <div class="card-body p-2 shadow-sm border my-3 small text-muted">
    <div class="text-center mb-2 text-dark"><%= "投票者" %></div>
    <div class="table-secondary p-2">
      <% @votes.each_with_index do |vote, i| %>
        <%= link_to "#{vote.user.name}", "#", class: "text-muted" %><%= " ," %>
      <% end %>
      <hr class="my-1">
      <div class="text-center"><%= "#{@votes.length}人" %></div>
    </div>
  </div>
</div>

<div class="mt-3 col-sm-6 mx-auto small table-responsive">
  <table class="table table-bordered table-striped">
    <thead>
    <tr>
      <th nowrap class="text-center">順位</th>
<!--      <th nowrap class="text-center">得点</th>-->
      <th nowrap class="text-center">名前</th>
    </tr>
    </thead>
    <tbody>
    <% @field.oogiris.includes(:votes).sort { |a, b| b.votes.sum(:vote_point) <=> a.votes.sum(:vote_point) }.each_with_index do |oogiri, i| %>
      <tr>
        <% if i < 3 %>
          <td nowrap class="text-center text-danger"><%= i + 1 %></td>
<!--          <td nowrap class="text-center text-danger"><%#= @field.votes.where(oogiri_id: oogiri.id).sum(:vote_point) %></td>-->
        <% else %>
          <td nowrap class="text-center"><%= i + 1 %></td>
<!--          <td nowrap class="text-center"><%#= @field.votes.where(oogiri_id: oogiri.id).sum(:vote_point) %></td>-->
        <% end %>
        <td nowrap class="text-center"><%= oogiri.user.name %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>