<!DOCTYPE html>
<html>
  <head>
    <title>大喜利登竜門</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/f582df03af.js" crossorigin="anonymous"></script>
  </head>
  <style>
      @import url('https://fonts.googleapis.com/css2?family=Zen+Old+Mincho&display=swap');
  </style>
  <body>
  <header class="sticky-top" style="color: #000000;">
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color:#000000;">
      <%= image_tag "toryumon_logo.png", style: "height: 50px;" %>
      <a>
        <%= link_to '大喜利登竜門', root_path, class: "mr-4 text-white", data: {"turbolinks" => false} %>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse pt-2" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <% if user_signed_in? %>
            <li class="d-flex nav-item mb-1 mr-2 align-items-center">
              <% if @now_field.present? %>
                <% if @now_field.status_posting? %>
                  <i class="fa-regular fa-lightbulb text-white mr-2"></i>
                  <%= link_to '会場(投稿)', new_field_oogiri_path(field_id: @now_field.id), class: "text-white" %>
                <% elsif @now_field.status_voting? %>
                  <i class="fa-solid fa-check-to-slot text-white mr-2"></i>
                  <%= link_to '会場(投票)', new_vote_path, class: "text-white" %>
                <% elsif @now_field.status_finished? %>
                  <i class="fa-solid fa-flag text-white mr-2"></i>
                  <%= link_to '会場(結果)', field_oogiris_path(@now_field), class: "text-white" %>
                <% end %>
              <% end %>
            </li>
            <li class="nav-item mb-1 mr-2 align-items-center">
              <i class="fa-regular fa-rectangle-list text-white mr-1"></i>
              <%= link_to '過去のお題', fields_path, class: "text-white" %>
            </li>
            <li class="nav-item mb-1 mr-2 align-items-center">
              <i class="fa-solid fa-ranking-star text-white mr-1"></i>
              <%= link_to 'ランキング', ranking_path, class: "text-white" %>
            </li>
            <li class="nav-item mr-2 align-items-center">
              <i class="fa-solid fa-right-from-bracket text-white mr-1"></i>
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "text-white" %>
            </li>
            <% if current_user.id == 4 %>
              <li class="nav-item mt-1 align-items-center">
                <i class="fa-regular fa-eye-slash text-white mr-1"></i>
                <%= link_to '管理者ページ', admin_top_path, class: "text-white" %>
              </li>
            <% end %>
          <% else %>
            <li class="nav-item mb-1 mr-2 align-items-center">
              <i class="fa-regular fa-rectangle-list text-white mr-1"></i>
              <%= link_to '過去のお題', fields_path, class: "text-white" %>
            </li>
            <li class="nav-item mb-1 mr-2 align-items-center">
              <i class="fa-solid fa-ranking-star text-white mr-1"></i>
              <%= link_to 'ランキング', ranking_path, class: "text-white" %>
            </li>
            <li class="nav-item mb-1 mr-2 align-items-center">
              <i class="fa-solid fa-user-plus text-white mr-1"></i>
              <%= link_to "新規登録", new_user_registration_path, class: "text-white" %>
            </li>
            <li class="nav-item align-items-center">
              <i class="fa-solid fa-right-to-bracket text-white mr-1"></i>
              <%= link_to "ログイン", new_user_session_path, class: "text-white" %>
            </li>
          <% end %>
        </ul>
      </div>
    </nav>
  </header>
    <%= yield %>
  <footer style="background-color:#000000;">
    <div class="container-fluid">
      <div class="row px-md-3">
        <div class="col-md-6 text-center text-md-left">
          <small class="text-white">
            ©Toketsu Daikon All Rights Reserved
          </small>
        </div>
        <div class="col-md-6 align-self-center">
          <ul class="list-inline text-center text-md-right">
            <li class="list-inline-item mx-2">
              <small>
                <%= link_to "お問い合わせ", "https://twitter.com/tokedai_sub", class: "text-white" %>
              </small>
            </li>
            <li class="list-inline-item mx-2">
              <small>
                <%= link_to "プライバシーポリシー", privacy_policy_path, class: "text-white" %>
              </small>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  </body>
</html>
