<!DOCTYPE html>
<html>
  <head>
    <title>大喜利登竜門</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/f582df03af.js" crossorigin="anonymous"></script>
  </head>
  <style>
      @import url('https://fonts.googleapis.com/css2?family=Zen+Old+Mincho&display=swap');
  </style>
  <body>
  <header class="sticky-top" style="color: #000000;">
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color:#000000;">
      <%= image_tag "toryumon_logo.png", style: "height: 50px;" %>
      <a>
        <%= link_to '大喜利登竜門', root_path, class: "mr-4 text-white", data: {"turbolinks" => false} %>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse pt-2" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <% if user_signed_in? %>
            <li class="d-flex nav-item mb-1 mr-2 align-items-center">
              <i class="fa-regular fa-lightbulb text-white mr-2"></i>
              <%= link_to "現在のお題", fields_now_field_path, class: "text-white" %>
            </li>
            <li class="nav-item mb-1 mr-2 align-items-center dropdown">
              <a class="nav-link dropdown-toggle text-white py-0" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa-solid fa-folder-open text-white mr-1"></i>ギャラリー
              </a>
              <div class="dropdown-menu py-0" aria-labelledby="navbarDropdown" style="background-color:#000000;">
                <div class="dropdown-item text-white py-0" style="background-color:#000000;">
                  <i class="fa-regular fa-rectangle-list text-white mr-1"></i>
                  <%= link_to '過去のお題', fields_path, class: "text-white py-0", style: "background-color:#000000;" %>
                </div>
                <div class="dropdown-item text-white py-0" style="background-color:#000000;">
                  <i class="fa-regular fa-comment text-white mr-1"></i>
                  <%= link_to '過去のコメント', comments_path, class: "text-white py-0", style: "background-color:#000000;" %>
                </div>
              </div>
            </li>
            <li class="nav-item mb-1 mr-2 align-items-center">
              <i class="fa-solid fa-ranking-star text-white mr-1"></i>
              <%= link_to 'ランキング', ranking_path, class: "text-white" %>
            </li>
            <li class="d-flex nav-item mb-1 mr-2 align-items-center">
              <i class="fa-solid fa-user text-white mr-2"></i>
              <%= link_to current_user.name, user_path(current_user), class: "text-white" %>
            </li>
            <li class="d-flex nav-item mb-1 mr-2 align-items-center">
              <i class="fa-solid fa-box-open text-white mr-2"></i>
              <%= link_to "お題箱", new_field_path, class: "text-white" %>
            </li>
            <li class="nav-item mr-2 align-items-center">
              <i class="fa-solid fa-right-from-bracket text-white mr-1"></i>
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "text-white" %>
            </li>
            <% if current_user&.admin_user? %>
              <li class="nav-item mt-1 align-items-center">
                <i class="fa-regular fa-eye-slash text-white mr-1"></i>
                <%= link_to '管理者ページ', admin_top_path, class: "text-white" %>
              </li>
            <% end %>
          <% else %>
            <li class="nav-item mb-1 mr-2 align-items-center">
              <i class="fa-regular fa-rectangle-list text-white mr-1"></i>
              <%= link_to '過去のお題', fields_path, class: "text-white" %>
            </li>
            <li class="nav-item mb-1 mr-2 align-items-center">
              <i class="fa-solid fa-ranking-star text-white mr-1"></i>
              <%= link_to 'ランキング', ranking_path, class: "text-white" %>
            </li>
            <li class="d-flex nav-item mb-1 mr-2 align-items-center">
              <i class="fa-solid fa-box-open text-white mr-2"></i>
              <%= link_to "お題箱", new_field_path, class: "text-white" %>
            </li>
            <li class="nav-item mb-1 mr-2 align-items-center">
              <i class="fa-solid fa-user-plus text-white mr-1"></i>
              <%= link_to "新規登録", new_user_registration_path, class: "text-white" %>
            </li>
            <li class="nav-item align-items-center">
              <i class="fa-solid fa-right-to-bracket text-white mr-1"></i>
              <%= link_to "ログイン", new_user_session_path, class: "text-white" %>
            </li>
          <% end %>
        </ul>
      </div>
    </nav>
  </header>
    <%= yield %>
  </body>
</html>
